
<% if flash[:alert] %>
  <div class="notice"><%= flash[:alert] %></div>
<% end %>

<%= form_tag '/venues/randomize', method: "post" do %>

  <%= label_tag 'zipcode' %>
  <%= number_field_tag 'zipcode' %>

  <%= submit_tag 'find your destined destination' %>

<% end %>
