<%  if @plan.errors.any? %>
  <% @plan.errors.full_messages.each do |m| %>
  <%= m %><br>
  <% end %>
<% end %>

<%= form_for @plan do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.hidden_field :venue_id, :value => @plan.venue_id %>
  <%= f.submit %>
<% end %>

<p> Your venue is: <%= @plan.venue.name %> </p>
